<h2>Let's get you insured before you travel! </h2>
<%= form_tag("/show", method: "get") do %>
  <%= label_tag(:age, "First, tell me your age:") %>
  <%= date_select("rate", "age", start_year: 1948, end_year: 19.years.ago.year) %>
  <%= label_tag(:days, "And how many days you are going for:") %>
  <%= select_tag "days",
      options_for_select((1..21).map { |days| [days, days]} << ["22+", 22])%>
  <%= submit_tag("Get a quote") %>
<% end %>

